version: '3.8'

services:
  web:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - ./media:/app/media
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1

  db:
    image: nouchka/sqlite3:latest
    volumes:
      - ./db.sqlite3:/data/db.sqlite3

